<nav class="flex align-center justify-space-between">
  <a routerLink="">
    <h1>Angular Shop</h1>
  </a>

  <ul class="clean-list flex links">
    <li><a routerLink="" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li routerLink="/item/edit" routerLinkActive="active-nav">New Product</li>
    <li routerLink="/secret" routerLinkActive="active-nav">Secret</li>
  </ul>
  <div class="flex user-info" *ngIf="loggedInUser$|async;let user;">
    <p>{{user.name}} bought {{user.cart.length}} items</p>
  </div>
</nav>